#primario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones, .botones-varios {
  background-color: #93ccdd;
  border: none;
  padding: 3%;
  cursor: pointer;
  font-weight: 600;
}

header {
  top: 0;
  z-index: 1;
}

.banner {
  background-image: url("../img/holbox1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-weight: 900;
  background-color: rgba(234, 234, 234, 0.5);
  color: black;
}

.logo img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  padding: 1px;
  border: none;
  position: sticky;
  border-radius: 100%;
}

.menu li {
  display: grid;
  padding: 1%;
}

.menu a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.bikini1 img {
  width: 800px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  background-color: rgb(154, 255, 221);
}

.ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoinsta {
  width: 50px;
  height: auto;
}

.logowhat {
  width: 50px;
  height: auto;
}

.logowhats {
  width: 30px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0px;
}

.imgbik img {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1px;
  border: solid 3px;
}

.holbox1 img {
  display: block;
  margin: auto;
}

.imgbik2 img {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1px;
  border: solid 3px;
}

.Pantuflas img {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1px;
  border: solid 3px;
}

.logocarro img {
  width: 30px;
  height: auto;
  position: fixed;
  bottom: 0 auto;
  right: 10px;
}

.bolsitas img {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 1px;
  border: solid 3px;
}

.sol img {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1px;
}

.tem img {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1px;
}

.fondo {
  background-image: url(../img/campeones\ 2023.png);
  background-position: center;
}

.menu li span {
  width: 140px;
  height: 20px;
  padding: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0.8;
}

.menu {
  display: flex;
  list-style: none;
  text-align: right;
  margin-top: 80px;
  padding: 200px;
}
.menu a {
  color: black;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.carousel-item img {
  height: 300px;
}

@media (min-width: 768px) {
  #carouselExampleIndicators {
    width: 30%;
    z-index: 0;
    margin: 0 auto;
  }
  .carousel-item img {
    height: 350px;
  }
}
.padre-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cards {
  width: 18rem;
  -webkit-box-shadow: 0px 0px 25px 2px rgb(24, 158, 199);
  -moz-box-shadow: 0px 0px 25px 2px rgb(24, 158, 199);
  box-shadow: 0px 0px 25px 2px rgb(24, 158, 199);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .padre-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .padre-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
